<!DOCTYPE html>
<html lang="pt-BR"> <!-- Define o idioma da página como português do Brasil -->
<head>
    <meta charset="UTF-8"> <!-- Define o conjunto de caracteres da página para UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Responsabilidade para a exibição correta em dispositivos móveis -->
    <title>Nika-Login</title> <!-- Título da página que será exibido na aba do navegador -->
    <link rel="stylesheet" href="../static/css/login.css"> <!-- Link para o arquivo de CSS, onde a aparência da página é configurada -->
</head>
<body>

    <!-- Div para o formulário de login -->
    <div class="form-container">
        <h2>Login</h2> <!-- Cabeçalho que indica a página de login -->

        <!-- Formulário de login -->
        <form id="login-form" method="POST" action="{{ url_for('logar') }}">
            <!-- Campo para o e-mail do usuário -->
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input name="email" type="email" id="email" placeholder="Digite seu e-mail">
            </div>
            <!-- Campo para a senha do usuário -->
            <div class="form-group">
                <label for="password">Senha:</label>
                <input name="password" type="password" id="password" placeholder="Digite sua senha">
            </div>
        
            <!-- Botão para enviar o formulário de login -->
            <button type="submit" class="btn">Logar</button>
        </form>
        

        <!-- Link para a página de cadastro, caso o usuário ainda não tenha conta -->
        <a href="{{ url_for('cadastrar') }}" style="font-size:12px; margin-left: 35%">não possui conta? Clique aqui!</a>
    </div>
    <img src="../static/img/logo.png" class="logo" alt="logo">
    <!-- Bloco de script JavaScript para gerenciar o envio do formulário -->

</body>
</html>
